body {
	font-family: helvetica, sans-serif;
	margin: 0;
}
header {
	font-size: 28px;
	font-weight: bold;
}
#wrapper {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
}
#nav-bar {
	margin: 0;
	padding: 0;
	height: 100%;
	flex: 1;
}
#nav-content {
	position: fixed;
	border-right: 2px solid #555;
	height: 100vh;
	overflow: auto;
}
#nav-header {
	text-align: center;
	border-bottom: 1px solid #555;
	padding: 20px 30px;
}
#nav-content ul {
	margin: 0;
	padding: 0;
	width: 100%;
}
#nav-content li {
	list-style-type: none;
	text-align: left;
	border-bottom: 1px solid #555;
}
#nav-content li:last-child {
	border-bottom: none;
}
#nav-content .nav-link {
	display: block;
	color: #000;
	padding: 10px 30px;
	text-decoration: none;
}
#content {
	padding: 25px;
	flex: 2;
}
#content p,
#content li {
	font-size: 16px;
	line-height: 1.5;
	margin: 30px;
}
#content code {
	margin: 10px 30px;
	line-height: 2;
	border-radius: 4px;
	display: flex;
	flex: 1 0 100%;
	height: auto;
	padding: 20px 20px;
	background: #eee;
	color: #666;
}

@media screen and (max-width: 900px) {
	#wrapper {
		margin: 0 30px;
	}
	#nav-bar {
		flex-basis: 100%;
		margin: 0 auto;
	}
	#nav-content {
		position: relative;
		height: 300px;
		overflow: visible;
		border: 0;
	}
	#nav-content ul {
		border: 2px solid #000;
		overflow: auto;
		height: 200px;
	}
	#nav-content li:last-child {
	}
	#content {
		flex: 1 0 100%;
		padding: 0;
	}
	#content .sub-content {
	
	}
}
